body {
  min-width: 790px;
}

.container {
  width: 50%;
  left: auto;
  height: 500px;
  min-width: 750px;
  background-color:grey;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.page {
  left: 50%;
  width: 45%;
  top: 2.5%;
  position: absolute;
  background-color: white;
  height: 95%;
  transform-origin: 0%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: initial;
  transition-delay: initial;
  transform-style: preserve-3d;
}

.page div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden !important;
  transform-style: preserve-3d;
  border: solid 1px #d3d3d3;
}

.page .back {
  transform: rotateY(180deg)  translateZ(1px);
  transform-origin: 50%;
  width: 100%;
  height: 100%;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}
.page .back .num {
  position: absolute;
  height: 100%;
  left: 7.5%;
  top: 90%;
}
.page .back .bookpager {
  position: absolute;
  width: 20px;
  height: 100%;
  border: none;
}

.page .front {
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}
.page .front .num {
  position: absolute;
  height: 100%;
  left: 90%;
  top: 90%;
}
.page .front .bookpager {
  position: absolute;
  width: 20px;
  right: 0%;
  border: none;
}

.bookpager:hover{
  background-color:#ccffff;
}

.flipped {
	transform: rotateY(-180deg);
  transition-duration: 0.5s;
}

a {
  cursor: default;
}

.edit {
  display: black;
  position: absolute;
  top: 90%;
  left: 45%;
}

.dropdown-menu li {
  padding-left: 10px;
}

.pageContent {
  position: absolute;
  width: 90%;
  height: 85%;
  top: 5%;
  left: 5%;
  max-height: 84%;
  max-width: 90%;
  word-wrap:break-word;
  resize: none;
  overflow:hidden;
  border: none;
  padding: 6px;
}
.pageContent:hover {
  border: solid 1px #e0e0e0;
  padding: 5px;
}
.back .pageContent {
  left: 5%;
}

.btn-circle-sm {
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
  font-size: 12px;
  padding-top: 6px !important;
  padding-right: 0px !important;
  padding-bottom: 6px !important;
  padding-left: 1px !important;
}
